.userList {
  flex: 4;
  margin-top: 10px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListUserImg {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListEdit:hover {
  background-color: transparent;
  color: green;
  font-size: 16px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.userListDelete:hover {
  background-color: rgb(199, 198, 198);
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 50%;
}
